.containerClass { 

width: 28rem;

}


.inputClass{

 height: 2.9rem !important;
  width: 28.75rem !important;
  border: solid 1.5px #b7b7b7 !important;
  border-radius: 5px !important;
 font-family: 'poppins';
}

.btnClass {
    font-family: 'poppins';

}

 @media (max-width: 768px) {
    .inputClass{
        width: 90vw !important;
    }
  }