@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
}


img,
video {
  max-width: 100%;
  height: auto
}


.img {

  width: 46px !important;
}

.notificationBell {


  height: 22px;
}