* {
  margin: 0;
}

img,
video {
  max-width: 100%;
  height: auto
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.img {

  width: 46px !important;
}

.notificationBell {


  height: 22px;
}