 .swiper-button-next {
    /* width: 50px !important;
    height: 50px !important; */
    
    
     background-image: url(../../asserts/siteLogos/arrow-right.png);
    background-repeat: no-repeat;
  background-size: 100% auto;
  /* background-position: center;
  position: absolute !important;
   right: 0rem !important;
 
 
  top: 30px !important; */
}
.swiper-button-next::after {
  display: none;
}


.swiper-button-prev{
     /* width: 50px !important;
    height: 50px !important; */
   
    
     background-image: url(../../asserts/siteLogos/left-arrow.png);
    background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
 /* position: absolute !important;
    top: 30px !important;
    left: 103rem !important;
    right: 4rem !important; */
   
 }

.swiper-button-prev::after {
  display: none;
}






.mySwiper{

   
    height: 35rem;
}